---
import Layout from '../layouts/Layout.astro';
import Graphic from "../components/Graphic.astro";
---

<Layout title="Welcome to Astro.">
	<section class="w-full lg:w-[740px] mx-auto py-10">
		<h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4">Bienvenido a las estadisticas de el equipo TEO</h1>
	</section>
	<section class="w-full lg:w-[740px] mx-auto py-10">
		<Graphic/>
	</section>
</Layout>

