<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <a class="rounded-full w-12 h-12 text-center bg-cyan-950 pt-3">TEO</a>

    <nav class="flex flex-row gap-x-10">
        <a href="/">Inicio</a>
    </nav>
</header>
